<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search result</title>
</head>
<body>
    <h1>
        Recherche pour : {{ query }}
    </h1>

    <p>
        {% for article in object_list %}
        {% comment %} 
        <a href-"{{ article.get_absolute_url }}">
            {{ article.title }}
        </a> {% endcomment %}

        <img src=" {{ article.image.url }} ">
        <a href=" {{ article.get_absolute_url }} ">
        {{ article.title }}
        </a>



        {% endfor %}

    </p>
</body>
</html>